.overlay
	position fixed
	top 0
	left 0
	width 100%
	height 100%
	background rgba(0,0,0,0.6)
	z-index -1
	opacity 0
	transition opacity .3s
	&.active
		opacity 1
.modal
	width fit-content
	height fit-content
	padding 20px 30px
	background white
	position fixed
	top calc(50% + 20px)
	left 50%
	transform translate(-50%, -50%)
	z-index -1
	opacity 0
	transition opacity .3s, top .3s
	&.active
		top 50%
		opacity 1
	.close-modal
		position absolute
		top 10px
		right 10px
		color #a9a9a9
		cursor pointer
		font-size 19px
		transition color .25s
		&:hover
			color #545454
	.modal-top
		margin 20px 0 12px
		.modal-title
			color #353535
			margin 0
	.modal-content
		.modal-message
			color #545454
			margin 0
			font-size 15.5px
			max-width 500px
		.modal-delete-btn
			background #3fd0ff
			border none
			color white
			outline none
			margin 10px 0 5px
			text-align center
			padding 10px 25px
			cursor pointer
			font-size 13.5px
			transition background .3s
			&:hover
				background #00c0ff
.nav
	width 100%
	height 55px
	border-bottom 1px solid #e8e8e8
	position relative
	span
		position absolute
		top 50%
		left 10px
		transform translateY(-50%)
		background #3fd0ff
		color white
		padding 5px 10px 4px
		cursor pointer
		font-size 14px
	h1
		color #6d6d6d
		font-size 27.5px
		font-weight 100
		margin 0
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
.content
	margin-top 40px
	width 90%
	height fit-content
	position relative
	margin-left 5%
.no-presentations
	position absolute
	left 50%
	top 20px
	transform translateX(-50%)
	width fit-content
	height fit-content
	text-align center
	p
		font-size 17px
		margin 0 0 10px
		color #a9a9a9
.create-presentation-btn
	border none
	background white
	color grey
	margin 7.5px 0
	padding 12px 20px
	border-radius 100000px
	font-size 16px
	width 300px
	outline none
	cursor pointer
	border 1px solid #e8e8e8
	box-shadow none
	transition box-shadow .3s, color .3s
	&:hover
		color #3fd0ff
		box-shadow 0 0 4px 2px rgba(0,0,0,0.06)
.all-presentations
	width 100%
	display flex
	justify-content left
.box
	margin 20px
	width 220px
	position relative
	height 290px
.outer-presentation-wrap
	width fit-content
	height fit-content
	position relative
	.presentation-info-wrap
		position absolute
		left 20px
		bottom -2px
		opacity 0
		width fit-content
		height fit-content
		transition opacity .3s
		.last-modified
			color #a2a2a2
			font-size 13.5px
			margin 0
.presentation-box
	border 2px solid #e8e8e8
	cursor pointer
	transition border .3s
	&:hover
		border 2px solid #3fd0ff
		h3
			color #3fd0ff
		.delete-presentation-wrap
			opacity 1
			bottom 10px
		& + .presentation-info-wrap
			opacity 1
	h3
		color #565656
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		margin 0
		width 90%
		text-align center
		font-size 30px
		transition color .3s
	.delete-presentation-wrap
		width 25px
		height 25px
		border-radius 25px
		position absolute
		left 50%
		opacity 0
		bottom 0
		transform translateX(-50%)
		background #cacaca
		transition opacity .2s, bottom .3s, background .3s
		&:hover
			background tomato
		.delete-presentation
			color white
			margin 0
			position absolute
			left 50%
			top calc(50% + 1px)
			transform translate(-50%, -50%)
.create-presentation-box
	background #3fd0ff
	cursor pointer
	border 2px solid #3fd0ff
	transition background .3s, border .3s
	&:hover
		background #00c0ff
		border 2px solid #00c0ff
	p
		color white
		margin 0
		font-size 80px
		font-weight bold
	h2
		color white
		font-size 17.5px
		font-weight 200
		margin -5px 0 0
.create-presentation-box-content
	height fit-content
	width fit-content
	position absolute
	top calc(50% - 10px)
	left 50%
	text-align center
	transform translate(-50%, -50%)
